/* .gm-style .gm-style-mtc > div:nth-child(1),
.gm-style button.gm-control-active.gm-fullscreen-control,
.gm-style .gm-bundled-control > div:nth-child(1) > div,
.gm-style .gm-bundled-control > .gm-svpc {
  background: linear-gradient(#333, #222) !important;
  border: 0.0625rem solid #444;
  box-shadow: 0 0.125rem 0 #000;
  color: #fff;
  text-shadow: 0 -0.0625rem 0 #000;
}

.gm-style button.gm-control.gm-fullscreen-control > img::nth-child(1) {
  fill: #fff;
} */
